<mat-toolbar color="primary" class="root-toolbar mat-elevation-z2">
  <mat-toolbar-row class="main-row">
    <button mat-icon-button *ngIf="showIcon" >
      <mat-icon (click)="openSideNav()">menu</mat-icon>
    </button>
    <div class="location">
          {{title}}
    </div>
    <div class="space"></div>
    <div *ngIf="show">
      <button mat-icon-button (click)="searchWeather(zipcode)">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div *ngIf="showLogin">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container 
          *ngIf ="loggedIn(); then logIn; else loggedOut">
        </ng-container>
        <ng-template #logIn>
          <button mat-menu-item (click)="dashboard()">
            Dashboard
          </button>
          <button mat-menu-item (click)="settings()"> 
            settings
          </button>
          <button mat-menu-item (click)="logout()">
            logout
          </button>
        </ng-template>
        <ng-template #loggedOut>
          <button mat-menu-item (click)="login()">
            login
          </button>
        </ng-template>
        
      </mat-menu>
      
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>

