<mat-toolbar color="primary" class="root-toolbar mat-elevation-z2">
  <mat-toolbar-row class="main-row">
    <div class="location">
          {{title}}
    </div>
    <div *ngIf="show">
      <mat-form-field >
        <input type="number" matInput placeholder="Zipcode" [(ngModel)]="zipcode">
        <button matSuffix mat-icon-button (click)="searchWeather(zipcode)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>

