@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');


.flexbox{
    display: flex;
    height: calc(100vh - 64px);
    justify-content: center;
    align-items: center;
}

.card{
    flex-basis: 397px;
    max-width: 397px;
}

.header{
    display:flex;
    justify-content: center;
}

.title{
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
}

.user-form{
    display:flex;
    flex-direction: column;
}

.login-action{
    display:flex;
}

.login-button{
    flex-basis: 100%;
}

.register {
    position: absolute;
    bottom: -10%;
    text-decoration: none;
    color: blue;
    right: 0%;
}

.error{
    color: red;
    font-size: 75%;
}