<app-toolbar [title]=title [show]=showSearch></app-toolbar>
<mat-card class="card centre">
  <mat-card-header>
    <mat-card-title class="title centre">ClimeShade</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="user-form" >
      <mat-form-field class="ninety-width">
        <input #name matInput placeholder="UserName" [formControl]="uNameFormControl">
        <mat-error *ngIf="uNameFormControl.hasError('required')">UserName is required</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="ninety-width">
        <input #password matInput type="password" placeholder="Password" [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.hasError('required')">Password is required</mat-error>
      </mat-form-field>
      <div *ngIf="passwordError" class="error">Wrong Password</div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="login centre ninety-width" color="primary" (click)="login(name.value,password.value)">Login</button>
    <a class="register" href="/register">Register new user</a>
  </mat-card-actions>
</mat-card>
