@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

.card {
    width: 397px;
    height: 250px;
    position: absolute;
    top: 50%;
}

.title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
    position: absolute;
    top: 50px;
}

.user-form{
    position:absolute;
    top: 100px;
    width: 100%;
}

.ninety-width, .login {
    width: 90%
}

.centre{
    left: 50%;
    transform: translate(-50%,-50%);
}

.login {
    position: absolute;
    bottom: 0%;
}

.register {
    position: absolute;
    bottom: -10%;
    text-decoration: none;
    color: blue;
    right: 0%;
}

.error{
    color: red;
    font-size: 75%;
}