<mat-card class="card" *ngIf ="!loading">
    <mat-card-header>
        <mat-card-subtitle>5 day weather forecast </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-card-content>
</mat-card>