 .content b{
    font-size: 48px;
    margin-left: 10px;
    position: relative;
    bottom: 6px;
} 
 .content i{
    font-size: 48px;
} 

/* table{
    width:100%;
    
}

td{
    font-weight: bolder;
}
th.mat-header-cell, td.mat-cell{
    border-bottom-style: none;
} */

img {
    height: 45px;
    float: left;
}
.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.title{
    font-weight: bold;
}

.city, .pressure, .humidity, .zipcode{
    margin-right: 4em;
    margin-bottom: 1em;
}
.flexbox1{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
.temperature{
    flex-basis: 170px;
}

