.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerButton{
    margin-left: 142px;
}

.generalHeader{
    margin-right: 60px;
}

.locationHeader{
    margin-right: 158px;
}

.accountHeader{
    margin-right: 103px;
}