<h3 class="top">
  General Information
</h3>
<mat-card class="center generalCard">
  <mat-card-content>
    <form class="general">
      <mat-form-field class="full-width centre">
        <input #firstName matInput placeholder="First Name">
      </mat-form-field><br>
      <mat-form-field class="full-width centre">
        <input #lastName matInput placeholder="Last Name">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<!-- <h3 class="locHeader">
    Location
</h3> -->
<!-- <mat-card class="center locCard">
  <mat-card-content>
    <form class="Location">
      <mat-form-field class="full-width centre">
        <input #location matInput placeholder="zipcode" type="number">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card> -->

<!-- <h3 class="accHeader">
  Account Details
</h3> -->
<!-- <mat-card class="center accCard">
  <mat-card-content>
    <form class="account">
      <mat-form-field class="full-width centre">
        <input #username matInput placeholder="username">
      </mat-form-field><br>
      <mat-form-field class="full-width centre">
        <input #password matInput placeholder="password" type="password">
      </mat-form-field><br>
      <mat-form-field class="full-width centre">
        <input #Rpassword matInput placeholder="Repeat Password" type="password">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
<button mat-raised-button color="primary" class="registerButton">Register</button> -->
