<app-toolbar [title]=title [showLogin]="showLogin"></app-toolbar>
<div class="flex-container">
  <h3 class="generalHeader">
    General Information
  </h3>
  <mat-card >
    <mat-card-content>
      <form [formGroup]="generalForm">
        <mat-form-field>
          <input #firstName matInput placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="generalForm.hasError('required','firstName')">first name Required</mat-error>
        </mat-form-field><br>
         <mat-form-field>
          <input #lastName matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="generalForm.hasError('required','lastName')">last name Required</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>


  <h3 class="locationHeader">
    Location
  </h3>
  <mat-card >
    <mat-card-content>
      <form >
        <mat-form-field>
          <input #location matInput placeholder="zipcode" type="number" [formControl]="zipFormControl">
          <mat-error *ngIf="zipFormControl.hasError('required')">Home zipcode Required</mat-error>
        </mat-form-field>
        <div *ngIf="zipError" class="error">Please enter valid zipcode</div>
      </form>
    </mat-card-content>
  </mat-card>

  <h3 class="accountHeader">
    Account Details
  </h3>
  <mat-card >
    <mat-card-content>
      <form [formGroup]="myForm">
        <mat-form-field >
          <input #username matInput placeholder="username" formControlName="userName">
          <mat-error *ngIf="myForm.hasError('required','userName')">User name Required</mat-error>
        </mat-form-field>
        <div *ngIf="userNameError" class="error">User name already exists</div>
        <br>
        <mat-form-field >
          <input #password matInput placeholder="password" type="password" formControlName="password">
          <mat-error *ngIf ="myForm.hasError('required','password')">Password required</mat-error>
        </mat-form-field><br>
        <mat-form-field>
          <input #Rpassword matInput placeholder="Repeat Password" type="password" formControlName="repPassword" [errorStateMatcher]="matcher">
          <mat-error *ngIf="myForm.hasError('notSame')">Passwords do not match</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  <button mat-raised-button color="primary" class="registerButton" [disabled]="!myForm.valid || !generalForm.valid || !zipFormControl.valid" (click)="register(firstName.value,lastName.value,location.value,username.value,password.value)">Register</button>
</div>