@import url('https://fonts.googleapis.com/css?family=Roboto');
.searchcard, .detailsCard, .text{
    margin: 15px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Roboto',sans-serif;
}

.error{
    color: red;
    font-size: 75%;
    margin-left:3.7em;
}