<app-toolbar [title]= title [showLogin]=showLogin></app-toolbar>
<div class="text"><b>Search</b></div>
<mat-card class="searchcard">
  <mat-card-content >
    <button mat-icon-button (click)="updateWeather()">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field>
      <input matInput placeholder="zipcode" type="number" [(ngModel)]="zip" #zipcodeElement>
      <button mat-button *ngIf="zip" matSuffix mat-icon-button aria-label ="Clear" (click)="zip=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div *ngIf="error" class="mat-error ">Enter Valid zipcode</div>
  </mat-card-content>
</mat-card>
<div class="text" *ngIf="showWeather"><b>Result</b></div>
<div class="detailsCard" *ngIf="showWeather">
    <app-weather-details [zipcode]=zipcode (onError)="setError($event)"></app-weather-details>
</div>

